
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div class="couple">
        <img src="us.jpg" alt="">
    </div>
<div class="floating-image-container">
    <img src="heart.svg" alt="Floating Image" class="floating-image">&nbsp;&nbsp;
    <img src="heart.svg" alt="Floating Image" class="floating-image1">&nbsp;&nbsp;
    <img src="heart.svg" alt="Floating Image" class="floating-image">&nbsp;&nbsp;
    <img src="heart.svg" alt="Floating Image" class="floating-image1">&nbsp;&nbsp;
    <img src="heart.svg" alt="Floating Image" class="floating-image">&nbsp;&nbsp;
    <img src="heart.svg" alt="Floating Image" class="floating-image1">&nbsp;&nbsp;
    <img src="heart.svg" alt="Floating Image" class="floating-image">&nbsp;&nbsp;
    <img src="heart.svg" alt="Floating Image" class="floating-image1">&nbsp;&nbsp;
    <img src="heart.svg" alt="Floating Image" class="floating-image">&nbsp;&nbsp;
    <img src="heart.svg" alt="Floating Image" class="floating-image1">&nbsp;&nbsp;
    <img src="heart.svg" alt="Floating Image" class="floating-image">&nbsp;&nbsp;
    <img src="heart.svg" alt="Floating Image" class="floating-image1">&nbsp;&nbsp;
    <img src="heart.svg" alt="Floating Image" class="floating-image">&nbsp;&nbsp;
    <img src="heart.svg" alt="Floating Image" class="floating-image1">&nbsp;&nbsp;
    <img src="heart.svg" alt="Floating Image" class="floating-image">&nbsp;&nbsp;
    <img src="heart.svg" alt="Floating Image" class="floating-image1">&nbsp;&nbsp;
    <img src="heart.svg" alt="Floating Image" class="floating-image">&nbsp;&nbsp;
    <img src="heart.svg" alt="Floating Image" class="floating-image1">&nbsp;&nbsp;
  </div>

